/* Theme overrides */
img {
  border-radius: 0;
}

.theme-refactoring-by-example .sidebar,
.theme-refactoring-by-example .sidebar-toggle:active,
.theme-refactoring-by-example #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #B23B3B;
}
.theme-refactoring-by-example .container a,
.theme-refactoring-by-example .sidebar-toggle,
.theme-refactoring-by-example .related-posts li a:hover {
  color: #B23B3B;
}

h1,
h2,
h3,
h4,
h5,
h6,
.page-title,
.post-title,
.post-title a {
  color: #303A39;
}

.logo {
  height: 27px;
  margin: 0 auto;
  display: block;
}

.sidebar-logo {
  display: block;
  width: 30px;
  margin: 0 auto;
}

.sidebar-description {
  text-align: center;
}

.sidebar-toggle {
  border-radius: 0;
  top: 1rem;
  padding: 0.1rem 0.4rem;
}

@media (min-width: 38em) {
  .logo {
    height: 40px;
  }

  .sidebar-logo {
    width: 40px;
  }
}

@media (min-width: 56em) {
  .logo {
    height: 50px;
  }

  .sidebar-logo {
    width: 50px;
  }

  .sidebar-toggle {
    border-radius: 0;
    top: 1rem;
    padding: 0.5rem 0.75rem;
  }
}
